@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

/** {
	border: 1px solid red;
}*/

body {
	background-color: #121212;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.status {
	position: absolute;
	background-color: white;
	color: black;
	text-align: center;
	font-style: italic;
	width: 80%;
	height: 50px;
	left: 10%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.table {
	background: linear-gradient(to right, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
	width: 100%;
	padding: 5%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.half {
	display: flex;
}

.mid {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cup {
	border: 3px solid white;
	background: rgba(215, 215, 215, 0.7);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 5px 0;
	color: white;
}

.cup.pending {
	background-color: rgba(104, 104, 104, 0.7);
}

.cup.hit {
	visibility: hidden;
}

#missButton {
	background-color: white;
	border: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 25px;
	border-radius: 999px;
	padding: 10px 30px;
	cursor: pointer;
}

.bounceToggler input[type=checkbox] {
	visibility: hidden;
}

.bounceToggler {
	width: 40px;
	height: 40px;
	position: relative;
}

.bounceToggler label {
	cursor: pointer;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
  	left: 0;
	background: white;
	border-radius: 10px;
	color: black;
}

.bounceToggler label:after {
	opacity: 0.2;
	content: '×';
	font-size: 35px;
	background: transparent;
}

.bounceToggler label:hover::after {
	opacity: 0.5;
}

.bounceToggler input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* Phantom element used in mid to center bounceToggler while missButton is pinned down */
.phantom {
	height: 48px;
	width: 121px;
}

@media (orientation:portrait) and (max-width:736px) {
	.table {
		background: linear-gradient(to bottom, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
		box-sizing: border-box;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100vh;
	}

	.half {
		transform: rotate(90deg);
	}

	.mid {
		flex-direction: row;
		width: 100%;
	}
}
