@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** {
	border: 1px solid red;
}*/

body {
	background-color: #121212;
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 0 5vw;
}

h1.gameName {
	text-align: center;
}

.teams {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.team ul {
	list-style: none;
	padding: 0;
}

.team:last-child * {
	text-align: right;
}

.cup {
	border: 3px solid green;
	background-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	margin: 5px 0;
}

.cup[disabled] {
	opacity: 0.5 !important;
}

#teamOne .cup {
	border-color: red;
}

#teamTwo .cup {
	border-color: blue;
}

.table {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.half {
	display: flex;
}

.mid {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
