@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

/** {
	border: 1px solid red;
}*/

body {
	color: white;
	background-color: #121212;
	font-family: 'Open Sans', sans-serif;
}

.status {
	box-sizing: border-box;
	height: 50px;
	padding: 15px 0;
	text-align: center;
}

.status p {
	margin: 0;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100vw;
	height: calc(100vh - 50px); /* 50px for status bar height */
	background: linear-gradient(to bottom, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
}

.cups {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
}

/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
.squareRatio {
	position: relative;
	width: 9vh;
	margin: 0 1vh;
}

.squareRatio::before {
	display: block;
	padding-top: 100%;
	content: '';
}

.cup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
	color: white;
	border: 3px solid white;
	border-radius: 50%;
	background: rgba(215, 215, 215, 0.7);
}

.cup.pending {
	background-color: rgba(104, 104, 104, 0.7);
}

.cup.hit {
	visibility: hidden;
}

.mid {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.missButton {
	height: 40px;
	padding: 0 30px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	border-radius: 999px;
	background-color: white;
	font-size: 25px;
	font-weight: 500;
}

.bounceToggler input[type=checkbox] {
	visibility: hidden;
}

.bounceToggler {
	position: relative;
	width: 40px;
	height: 40px;
}

.bounceToggler label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	color: black;
	border-radius: 10px;
	background: white;
}

.bounceToggler label:after {
	content: '×';
	opacity: 0.2;
	background: transparent;
	font-size: 35px;
}

.bounceToggler label:hover::after {
	opacity: 0.5;
}

.bounceToggler input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* Hidden elements used for special cases of positioning, like in mid of table */
.phantom {
	visibility: hidden;
}


@media (orientation:landscape) {
	.table {
		flex-direction: row;
		background: linear-gradient(to right, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
	}

	.cups {
		flex-direction: row;
	}

	.row {
		flex-direction: column;
	}

	/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
	.squareRatio {
		width: 15vh;
		margin: 1vh 0;
	}

	.mid {
		flex-direction: column;
	}
}
