.status {
	box-sizing: border-box;
	height: 50px;
	padding: 15px 0;
	text-align: center;
}

.status p {
	margin: 0;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100vw;
	height: calc(100vh - 50px); /* 50px for status bar height */
	background: linear-gradient(to bottom, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
}

.cups {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
}

/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
.squareRatio {
	position: relative;
	width: 9vh;
	margin: 0 1vh;
}

.squareRatio::before {
	display: block;
	padding-top: 100%;
	content: '';
}

.cup {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	cursor: pointer;
	color: white;
	border: 3px solid white;
	border-radius: 50%;
	background: rgba(215, 215, 215, 0.7);
}

.cup.pending {
	background-color: rgba(104, 104, 104, 0.7);
}

.cup.hit {
	visibility: hidden;
}

.mid {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

.missButton {
	height: 40px;
	padding: 0 30px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	border-radius: 999px;
	background-color: white;
	font-size: 25px;
	font-weight: 500;
}

.bounceToggler input[type=checkbox] {
	visibility: hidden;
}

.bounceToggler {
	position: relative;
	width: 40px;
	height: 40px;
}

.bounceToggler label {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	color: black;
	border-radius: 10px;
	background: white;
}

.bounceToggler label:after {
	content: '×';
	opacity: 0.2;
	background: transparent;
	font-size: 35px;
}

.bounceToggler label:hover::after {
	opacity: 0.5;
}

.bounceToggler input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/* Hidden elements used for special cases of positioning, like in mid of table */
.phantom {
	visibility: hidden;
}


@media (orientation:landscape) {
	.table {
		flex-direction: row;
		background: linear-gradient(to right, #4990E2 0%, #4990E2 50%, #FF3A3A 50%, #FF3A3A 100%);
	}

	.cups {
		flex-direction: row;
	}

	.row {
		flex-direction: column;
	}

	.squareRatio {
		width: 15vh;
		margin: 1vh 0;
	}

	.mid {
		flex-direction: column;
	}
}

/* Bigger than iPhone+ in landscape */
@media (min-width: 737px) {
	.table {
		height: auto;
		box-sizing: border-box;
		padding: 50px;
		justify-content: space-between;
	}

	.mid {
		justify-content: space-between;
	}

	.squareRatio {
		width: 70px;
	}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#players {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.playerButton {
	cursor: pointer;
	padding: 10px;
	margin: 10px;
}

/* Modal Content/Box */
.modal-content {
	text-align: center;
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}
